@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700;900&display=swap');


.theTitle{
    color: #fcfaf2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(59,59,59,.4);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(29, 29, 29, 0.7);
    
}


.titre {
   
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    font-family:Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
}

.subtitle{
    font-style: italic;
}

.containerPrequel{
    background-image: url("../public/assets/homeBg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

.about{
    background-color: #fcfaf2;
}

.containAbout{
    display: flex;
   width: 850px;
   margin: auto;
    padding: 3rem;
    gap: 4rem;
}

.aboutTitle{
    font-family: 'Kanit', sans-serif;
    color: #c99669;
}

.aboutIntro{
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
}

.aboutMe{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.outro{
    font-weight: bold;
}

.seePhotos{
    font-weight: 400;
    font-size: 0.9rem;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

.contact{
    background-color: #e4ebe3;
    padding: 2rem;
}

.titleContact{
    font-family: 'Kanit', sans-serif;
    color: #2c6e62;
    text-align: center;
}

.inputArea {
    width: 100%;
    background-color: #fcfaf2;
    padding: 12px;
    border: 1px solid #fcfaf2;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
    -moz-appearance: none;
    -moz-appearance: textfield;
}

.inputArea::-webkit-outer-spin-button,
.inputArea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputArea:focus{
    outline: none;
    background-color: #fcfaf2;
}

.inputArea:hover{
    background-color: #fae9bfe3;
    border: 1px solid #fae9bfe3;
}

.submit{
    background-color: #2c6e62;
  color: white;
  width: 200px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.1rem
}

.submit:hover{
    background-color: #fcfaf2;
    color: black;
    font-size: 1.2rem;
}

.infosContact{
    width: 850px;
    margin: auto;
    padding: 3rem;
}