.articles{
background-color: #fcfaf2;
min-height: 86vh;

}

.articlesTitle{
    padding-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #2c6e62;
    letter-spacing: 0.5rem;
    font-weight: bolder;
    font-size: 3.5rem;
}

.spanH1{
    font-size: 2.5rem;
    font-weight: 600;
}



.artContainer{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    max-width: 2000px;
    margin: auto;
    padding: 2rem 0;
    flex-wrap: wrap;
}

.card{
min-height: 500px;
width: 50%;
height: 100%;
background-size: cover;
background-position: center;

}

.articlesName{
   text-align: center;
   
}

.articlesName a{
    text-decoration: none;
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 100%;
    background-color: rgba(59,59,59,.6);
    transition: 0.6s;
    cursor: pointer;
    flex-wrap: wrap;
}

.test:hover{
background: none;
}

.test:hover .artName{
    background-color: #2c6e62;
    color: white;
}

.test:hover .artLink{
    background-color: white;
    color: #2c6e62;
}

.artName{
    background-color: white;
    padding: 0.5rem;
    transition: 0.6s;
    font-weight: bold;
    color: #2c6e62;
    margin-bottom: 0.4rem;
}

.artLink{
    background-color:#2c6e62;
    color: white;
    padding: 0.5rem;
    transition: 0.6s;
}


.articleHeader{
    width: 100%;
    min-height: 500px;
    background-size: cover;
background-position: 50% 50%;
}

.transparence{
    min-height: 500px;
    width: 100%;
    background-color: rgba(59,59,59,.6);

}

.subtitleArt{
    position: relative;
    top: 120px;
    text-align: center;
    color: white;
    font-size: 4rem;

}

.articleDescription{
    position: relative;
    top: -150px;
    max-width: 850px;
    padding: 2rem;
    margin: auto;
    background-color: #fcfaf2;
}

@media (max-width: 650px) {
    .card{
        width: 100%;
    }
 }
