html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.containerSlide {
  margin: 0 auto 20px;
  width: 75%;
  max-width: 800px;
  
}

.containerSlide {
  border-radius: 5px;
  margin: 0 auto;
  position: fixed;
  top: 150px;
  
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
  transition: box-shadow 200ms;
  z-index: 9;

}
  .containerSlide {
    box-shadow: 0 10px 50px -10px rgba(0,0,0,0.25);
  }

.slideshow {
    position: relative;
    width: 100%;
}
    
.slideshow:after {
        content: '';
        display: block;
        padding-bottom: calc((100% / 6) * 4);
    }
    .slideshow:hover a {
        opacity: 1;
    }

   .slide a {
        
        text-decoration: none;
        transition: opacity 0.5s;
        border-color: #FFF #FFF transparent transparent;
            color: #FFF;
            display: block;
            height: 10px;
            position: absolute;
            top: calc(0% - 5px);
            width: 10px;
            z-index: 10;

   }
   .slide a:after {
            border-color: #FFF #FFF transparent transparent;
            border-style: solid;
            border-width: 2px;
            color: #FFF;
            display: block;
            height: 10px;
            position: absolute;
            top: calc(50% - 5px);
            width: 10px;
        }

        .slide a:first-child:after {
            content: '';
            left: 10px;
            transform: rotate(-135deg);
        }

        .slide a:nth-child(2):after {
            content: '';
            right: 10px;
            transform: rotate(45deg);
        }
    
    .slide {
        background-color: #FFF;
        box-sizing: border-box;
        display: none;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .slide:first-child,
    .slide:target {
            display: block;
        }
        .slide a {
            display: block;
            height: 100%;
            position: absolute;
            width: 50%;
        }
        .slide a:nth-child(2) {
                left: 50%;
            }
        
            .slide img {
      border-radius: 5px;
            width: 100%;
        }
    

.pagination {
  display: flex;
  bottom: 10px;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.pagination a {
    background: rgba(247, 245, 245, 0.75);
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
}
    .pagination a:not(:last-child) {
      margin-right: 5px;
    }
    .pagination span {
      display: none;
    }
  

    .pagination a:target {
    color: red;
}

.divMasq{
  width: 100%;
  height: 100vh;
  background: rgba(247, 245, 245, 0.75);
  position: fixed;
  top: 0;
  z-index: 8;
}

.nonvisible{
  display: none;
}


.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.HistoireBranchée{
  order: 1;
}

.CadeauduCiel{
  order: 2;
}

.SequenceEmotion{
  order: 3;
}

.HistoiresCourtes{
  order: 4;
}


@media (max-width: 800px) {
  .containerSlide{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .containerSlide{
    width: 100%;
    top: 150px;
  }
}

@media (max-height: 500px) {
   .containerSlide{
    top: 0;
    z-index: 15;
    height: 95vh;
   }

   .divMasq{
    z-index: 15;
   }
}




